$borderColor: #495266;

// background-color
$darkBgColor : #2e3440;
$lightBgColor: #3b4252;
$mainBgColor : #353b4a;

// text-color
$defaultTextColor  : #758095;
$lightTextColor    : #edf0f4;
$middleTextColor   : #c1c4ca;
$unfocusedTextColor: #a0a6b3;