name: Branch tests
on:
  pull_request:
    branches: [main, staging]
  push:
    branches: [staging, main]

jobs:
  # tests unitaires
  pr-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install
      - name: Run unit tests
        run: bun run unit_tests